</td>

<td width="50px" class="sidebar">
    <ul>
        <li><a href="/">Главная страница</a></li>
    </ul>
</td>
</tr>
<tr>
    <td class="footer" colspan="2">Все права защищены (c) </td>
</tr>
</table>

</body>
</html>