{% extends 'carcas.html.twig' %}
{% block content %}
    <div style="text-align: center;">
        {% block title %}<h1>Информация о наличии коментариев или постов</h1>{% endblock %}

        {% if information != 'false' %}
            {{ information }}
        {% endif %}

        <form action="logout" method="post">
            <button type="submit">Выход</button>
        </form>
        {% if user.vk_id is not defined %}
            <p><a href={{ vkApi }}>Привязать Вконтакте</a></p>
        {% endif %}
        {% if user.yandex_id is not defined %}
            <p><a href={{ yandexApi }}>Привязать Яндекс</a></p>
        {% endif %}
    </div>
{% endblock %}
